.homeHeading2 {
  font-family: "Montserrat", Sans-serif;
  font-size: 4.5rem;
  font-weight: 800;
  font-style: italic;
  color: #ffffff;
}
.dataa {
  display: flex;
  width: 100%;
  padding-top: 20rem;

  background-color: black;
}
.iimage {
  width: 35.5rem;
  height: 35.5rem;
  border-radius: 20px 20px 20px 20px;
}
.main {
  background-color: black;
  width: 100%;
}
.inline {
  font-family: "Montserrat", Sans-serif;
  text-shadow: 0px 0px 19px rgba(0, 0, 0, 0.3);
  color: #ff0000;
  box-shadow: none;
  display: inline;
  padding: 50px;
}
